# IDEs
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log

# Backend (Java/Maven)
backend/target/
backend/*.class
backend/.mvn/
backend/*.jar

# Frontend (Node/Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.sass-cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
